.need-help {
  padding: 10px 16px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: #344054;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
