.add-post {
  width: 100%;
  max-width: 100%;
  background: white;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.add-post .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.add-post .avatar .ava-image-one {
  max-width: 40px;
  max-height: 35px;
}
.add-post .avatar .ava-image-two {
  position: absolute;
  max-width: 22px;
  height: 20px;
  top: 18px;
  right: -2px;
}
.add-post .input textarea {
  width: 100%;
  min-height: 7.5rem;
  resize: vertical;
  box-sizing: border-box;
  border: 1px solid #8d8a8a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
}
.add-post .input textarea::placeholder {
  padding: 8px;
}
.add-post .input {
  flex: 1;
}
.add-post .input span {
  font-size: 14px;
  font-weight: 500;
}
.add-post .buttons .btn-custom {
  background-color: #eee;
  color: #9b9a9a;
  font-weight: 500;
  font-size: 14px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
@media (max-width: 768px) {
  .buttons {
    flex-direction: column;
    gap: 1.125rem;
  }
}
