:host ::ng-deep .p-tablist-tab-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.tabs {
  max-width: 800px;
  margin: 0 auto;
}
.p-tab-active {
  color: rgb(143, 73, 209);
}
.p-badge {
  background-color: #eee;
  color: rgb(143, 73, 209);
}
:host ::ng-deep .p-tablist-active-bar {
  width: 270px !important;
  height: 3px;
}

:host ::ng-deep .p-tablist-active-bar {
  background-color: rgb(143, 73, 209);
}
:host ::ng-deep .p-tablist {
  width: 100%;
  border: none;
  background: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
:host ::ng-deep .p-tabpanels {
  margin-top: 1rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #eee;
  padding: 0;
}
