.help-dialog {
  padding: 1.5rem 1.5rem 2.75rem 1.5rem;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
}
.header h2 {
  color: #101828;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
}
.header p {
  color: #475467;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-bottom: 1.25rem;
}
.header::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.0625rem;
  background-color: #eaecf0;
}
.body {
  gap: 0.75rem;
}
@media (max-width: 768px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.body .overlay-container {
  position: relative;
  width: 17.5rem;
  height: 10rem;
  background: #4c64ff;
  border-radius: 0.75rem;
  margin-top: 1.5rem;
}

.content .play-button {
  backdrop-filter: blur(8px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.content h3 {
  min-width: 8.25rem;
  max-width: 10.625rem;
  width: fit-content;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  padding-left: 0.79rem;
  padding-top: 1rem;
}
.video-btn h3 {
  color: #101828;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 0.38rem;
}
.video-btn .play-video {
  padding: 0.5rem 1.5rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #4c64ff;
  background: #4c64ff;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
}
