.video-dialog video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-dialog {
  width: 600px;
  height: 392px;
  padding: 1.5rem 0;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .video-dialog {
    max-width: 400px;
    max-height: 288px;
  }
}
.header {
  position: relative;
  margin: 0 1.5rem;
}
.header img {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.header h2 {
  color: #101828;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}
.video-frame {
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background: #000;
}
